
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  /* font-family: 'Poppins', sans-serif; */

  body{
    margin:0;
  font-family: 'Poppins', sans-serif;

  }

  .App{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(74, 218, 160);


  }

  .carausel{
    overflow:hidden;
    width:700px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img{
    max-width: 100%;
    max-height: 100%;
  }

  svg{
    max-width:100%;
    max-height: 100%;
  }

  .carausel-img{
    padding:0 20px 0 20px;
    width:500px;
    /* height: 500px; */
    /* background-color: blue; */

  }

  .inner{
    white-space: nowrap;
    transition: transform 0.3s;
    /* display:flex; */
    /* height: 110vh; */
    /* background-color: blueviolet; */
    /* width:80vw; */
  }

  .carausel-items{
    
    display:inline-flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 480px;
    background-color: aliceblue;

  }

  .carausel-image-text{
    font-size: large;
    color:#617d98;
    white-space:normal;
    margin: 10px;
  }

  .buttons svg{
    margin: 0;
    padding: 0;
    display:inline;
    width:40px;
    /* background-color: red; */
  }

  .buttons{
    display:flex;
    justify-content: space-evenly;
  }

  .button-arrow{
    background:none;
    border:none;
    cursor:pointer;
    margin-top:20px;
  }

  .indicators{
    margin: 20px;
    display:flex;
    justify-content: space-arround;
    align-items: center;
  }

  .indicator-button{
    border:none;
    cursor:pointer;
    margin: 5px;
    background: none;
  }

  .indicator-symbol {
    color:#617d98
  }

  .indicator-symbol-active{
    color:crimson;
  }